-- Check if user exists in users table
SELECT id, email, display_name, role, org_id 
FROM users 
WHERE email = 'GUARDIAN_EMAIL_HERE';

-- Check if trigger exists and is enabled
SELECT tgname, tgenabled, tgtype
FROM pg_trigger
WHERE tgname = 'on_auth_user_created';

-- Check the trigger function
SELECT pg_get_functiondef('handle_new_user'::regproc);

-- If user is missing, manually insert them
-- Replace the values with the actual guardian info
/*
INSERT INTO users (id, email, display_name, role)
VALUES (
  '3252608e-982f-440f-a1ad-92e5e6483425',
  'guardian@email.com',
  'Guardian Name',
  NULL
)
ON CONFLICT (id) DO UPDATE
SET 
  email = EXCLUDED.email,
  display_name = EXCLUDED.display_name,
  updated_at = NOW();
*/
