-- Drop and recreate function with explicit table qualification
DROP FUNCTION IF EXISTS get_parent_invite_details(TEXT);

CREATE OR REPLACE FUNCTION get_parent_invite_details(p_token TEXT)
RETURNS TABLE(
  valid BOOLEAN,
  email TEXT,
  athlete_id UUID,
  org_id UUID,
  expired BOOLEAN,
  already_accepted BOOLEAN,
  message TEXT
)
LANGUAGE plpgsql
SECURITY DEFINER
AS \$\$
DECLARE
  v_invite RECORD;
BEGIN
  SELECT
    pi.id,
    pi.org_id,
    pi.athlete_id,
    pi.email,
    pi.expires_at,
    pi.status
  INTO v_invite
  FROM parent_invites pi
  WHERE pi.token = p_token;
  
  IF v_invite IS NULL THEN
    RETURN QUERY SELECT false, NULL::TEXT, NULL::UUID, NULL::UUID, false, false, 'Invalid invite token';
    RETURN;
  END IF;
  
  IF v_invite.status = 'accepted' THEN
    RETURN QUERY SELECT false, v_invite.email, v_invite.athlete_id, v_invite.org_id, false, true, 'Invite already accepted';
    RETURN;
  END IF;
  
  IF v_invite.status <> 'pending' THEN
    RETURN QUERY SELECT false, v_invite.email, v_invite.athlete_id, v_invite.org_id, false, false, 'Invite is not pending';
    RETURN;
  END IF;
  
  IF v_invite.expires_at < NOW() THEN
    RETURN QUERY SELECT false, v_invite.email, v_invite.athlete_id, v_invite.org_id, true, false, 'Invite expired';
    RETURN;
  END IF;
  
  RETURN QUERY SELECT true, v_invite.email, v_invite.athlete_id, v_invite.org_id, false, false, 'Valid invite';
END;
\$\$;

GRANT EXECUTE ON FUNCTION get_parent_invite_details(TEXT) TO anon, authenticated;
